{% extends 'admin/admin_layout.html.twig' %}


{% block admin_body %}
  <div class="container">
    <div class="text-center">
      {{ include('_messages.html.twig') }}
    </div>
    <section class="my-5">
      <div class="row">
        <div class="col-md-3">
          <h5>Auteur</h5>
          <hr class="separator-blue-left">
          <p>{{ comment.first_name }} {{ comment.last_name }}</p>
        </div>
        <div class="col-md-3">
          <h5>Date de création</h5>
          <hr class="separator-blue-left">
          <p>{{ comment.created_at|date('d\/m\/Y \\à H:i', 'Europe/Paris') }}</p>
        </div>
        <div class="col-md-3">
          <h5>Date de modification</h5>
          <hr class="separator-blue-left">
          <p>{{ comment.updated_at|date('d\/m\/Y \\à H:i', 'Europe/Paris') }}</p>
        </div>
        <div class="col-md-3">
          <h5>Statut</h5>
          <hr class="separator-blue-left">
          <p
                  {% if comment.status == 'En attente de modération' %}
                    class="text-warning"
                  {% elseif comment.status == 'Approuvé' %}
                    class="text-success"
                  {% else %}
                    class="text-danger"
                  {% endif %}
          >
            {% if comment.status == 'En attente de modération' %}
              <i class="fas fa-clock"></i>
            {% elseif comment.status == 'Approuvé' %}
              <i class="fas fa-check"></i>
            {% else %}
              <i class="fas fa-times"></i>
            {% endif %}
            {{ comment.status }}</p>
        </div>
      </div>
    </section>
    <section class="mb-5">
      <h5>Contenu du commentaire</h5>
      <hr class="separator-blue-left">
      <p class="text-justify">{{ comment.content|nl2br }}</p>
    </section>
    <section class="row justify-content-around justify-content-md-end my-5">
      <a href="/admin/comments" class="btn btn-edit mr-md-3 mb-4">
        <i class="fas fa-chevron-left"></i>
        Retour
      </a>
      <form id="form-comment-edit"
            method="post"
            action="/admin/comments/edit/{{ comment.id }}"
      >
        {% if comment.status != 'Non validé' %}
          <input type="submit"
                 class="btn btn-danger mr-md-3 mb-4"
                 id="reject-button"
                 form="form-comment-edit"
                 name="reject"
                 value="Refuser le commentaire"
          >
        {% endif %}
        {% if comment.status != 'Approuvé' %}
          <input type="submit"
                 class="btn btn-success mb-4"
                 id="approve-button"
                 form="form-comment-edit"
                 name="approve"
                 value="Valider le commentaire"
          >
        {% endif %}
      </form>
    </section>
  </div>
{% endblock %}
