{% extends 'admin/admin_layout.html.twig' %}

{% block admin_body %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Liste des commentaires</h1>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-borderless">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Comment ID</th>
        <th scope="col">Commentaire</th>
        <th scope="col">Article</th>
        <th scope="col">Auteur</th>
        <th scope="col">Statut</th>
        <th scope="col">Dernière modification</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for comment in comments %}
        <tr>
          <th scope="row">{{ comment.id }}</th>
          <td>{{ comment.content|slice(0,50) }}...</td>
          <td>
            <a href="/admin/posts/{{ comment.post_id }}" class="text-primary">{{ comment.post_id }}</a>
          </td>
          <td>{{ comment.first_name }} {{ comment.last_name }}</td>
          <td
                  {% if comment.status == 'En attente de modération' %}
                    class="text-warning"
                  {% elseif comment.status == 'Approuvé' %}
                    class="text-success"
                  {% elseif comment.status == 'Non validé' %}
                    class="text-danger"
                  {% endif %}
          >
            {% if comment.status == 'En attente de modération' %}
              <i class="fas fa-clock"></i>
            {% elseif comment.status == 'Approuvé' %}
              <i class="fas fa-check"></i>
            {% elseif comment.status == 'Non validé' %}
              <i class="fas fa-times"></i>
            {% endif %}
            {{ comment.status }}
          </td>
          <td>{{ comment.updated_at|date('d\/m\/Y \\à H:i', 'Europe/Paris') }}</td>
          <td>
            <a href="/admin/comments/edit/{{ comment.id }}" class="btn btn-edit">
              <i class="fas fa-edit"></i>
              Modérer
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
