{% extends 'admin/admin_layout.html.twig' %}


{% block admin_body %}
  <div class="container">
    <section class="my-5">
      <div class="row">
        <div class="col-md-4">
          <h5>Auteur</h5>
          <hr class="separator-blue-left">
          <p>{{ post.first_name|capitalize }} {{ post.last_name|capitalize }}</p>
        </div>
        <div class="col-md-4">
          <h5>Date de création</h5>
          <hr class="separator-blue-left">
          <p>{{ post.created_at|date('d\/m\/Y \\à H:i', 'Europe/Paris') }}</p>
        </div>
        <div class="col-md-4">
          <h5>Date de modification</h5>
          <hr class="separator-blue-left">
          <p>{{ post.updated_at|date('d\/m\/Y \\à H:i', 'Europe/Paris') }}</p>
        </div>
      </div>
    </section>
    <section class="mb-5">
      <div class="my-5">
        <h5>Titre de l'article</h5>
        <hr class="separator-blue-left">
        <h6>{{ post.title|capitalize }}</h6>
      </div>
      <h5>Contenu de l'article</h5>
      <hr class="separator-blue-left">
      <p class="text-justify">{{ post.content|nl2br }}</p>
    </section>
    {% if post.cover_img is not null %}
      <section class="mb-5">
        <h5>Image de couverture</h5>
        <hr class="separator-blue-left">
        <img src="/uploads/{{ post.cover_img }}" alt="{{ post.alt_cover_img }}" height="200" width="300">
      </section>
    {% endif %}
    <section class="row justify-content-around justify-content-md-end">
      <a href="/admin/posts" class="btn btn-edit mr-md-3 mb-4">
        <i class="fas fa-chevron-left"></i>
        Retour</a>
      <a href="/admin/posts/edit/{{ post.id }}" class="btn btn-edit mr-md-3 mb-4">
        <i class="fas fa-edit"></i>
        Éditer</a>
      <button type="button"
              class="btn btn-danger mr-md-3 mb-4"
              data-toggle="modal"
              data-target="#deleteModal"
              data-id="{{ post.id }}"
              data-item-info="{{ post.title }}"
      >
        <i class="fas fa-trash-alt"></i>
        Supprimer
      </button>
    </section>
  </div>
  {{ include('admin/_modal.html.twig') }}
{% endblock %}
