{% extends 'admin/admin_layout.html.twig' %}


{% block admin_body %}
  <div class="container">
    <div class="text-center">
      {{ include('_messages.html.twig') }}
    </div>
    <section class="my-5">
      <form id="form-post-edit"
            method="post"
            action="/admin/posts/edit/{{ post.id }}"
            enctype="multipart/form-data"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="title">Titre</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   name="title"
                   value="{{ post.title }}"
                   placeholder="{{ post.title }}"
            >
          </div>
        </div>
        <div class="form-group mb-5">
          <label for="content">Contenu</label>
          <textarea class="form-control"
                    id="content"
                    name="content"
                    rows="8"
                    cols="50"
                    placeholder="{{ post.content }}"
          >{{- post.content -}}</textarea>
        </div>
        <div class="form-row align-items-center">
          <div class="form-group col-md-6">
            <div class="custom-file mt-md-5">
              <input type="hidden"
                     name="max_file_size"
                     value="16777220"
              >
              <input type="file"
                     class="custom-file-input"
                     id="cover_img"
                     name="cover_img"
                     accept="image/*"
              >
              <label class="custom-file-label" for="cover_img">Téléverser une image de couverture</label>
              {% if post.cover_img is not null %}
                <p class="mt-4 mt-2">Image actuelle : <a href="/uploads/{{ post.cover_img }}" class="text-primary"
                                                         target="_blank">{{ post.cover_img }}</a>
                </p>
              {% endif %}
            </div>
          </div>
          <div class="form-group col-md-6 mt-4 mt-md-0">
            <label for="alt_cover_img">Texte alternatif</label>
            <input type="text"
                   class="form-control"
                   id="alt_cover_img"
                   name="alt_cover_img"
                   value="{{ post.alt_cover_img }}"
                   placeholder="{{ post.alt_cover_img }}"
            >
            <small id="alt_cover_img_help_text" class="form-text text-muted">
              Le texte alternatif est utilisé lorsque l'image ne peut pas être chargée.
            </small>
          </div>
        </div>
        <div class="row justify-content-around justify-content-md-end my-5">
          <a href="/admin/posts" class="btn btn-danger mr-md-3 mb-4">
            <i class="fas fa-times"></i>
            Annuler
          </a>
          <button type="submit" class="btn btn-success mb-4" form="form-post-edit">
            <i class="fas fa-check"></i>
            Valider
          </button>
        </div>
      </form>
    </section>
  </div>
{% endblock %}
