{% extends 'admin/admin_layout.html.twig' %}

{% block admin_body %}
  <div class="container">
    <section class="my-5">
      <div class="row">
        <div class="col-md-6">
          <h5>Nom du réseau social</h5>
          <hr class="separator-blue-left">
          <p><i class="fab {{ social_network.icon_name }} pr-2"></i>{{ social_network.name|capitalize }}</p>
        </div>
        <div class="col-md-6">
          <h5>Lien du réseau social</h5>
          <hr class="separator-blue-left">
          <p><a href="{{ social_network.url }}" class="text-primary" target="_blank">{{ social_network.url }}</a></p>
        </div>
      </div>
    </section>
    <section class="row justify-content-around justify-content-md-end">
      <a href="/admin/social-networks" class="btn btn-edit mr-md-3 mb-4">
        <i class="fas fa-chevron-left"></i>
        Retour</a>
      <a href="/admin/social-networks/edit/{{ social_network.id }}" class="btn btn-edit mr-md-3 mb-4">
        <i class="fas fa-edit"></i>
        Éditer</a>
      <button type="button"
              class="btn btn-danger mr-md-3 mb-4"
              data-toggle="modal"
              data-target="#deleteModal"
              data-id="{{ social_network.id }}"
              data-item-info="{{ social_network.name }}"
      >
        <i class="fas fa-trash-alt"></i>
        Supprimer
      </button>
    </section>
  </div>
  {{ include('admin/_modal.html.twig') }}
{% endblock %}
