{% extends 'admin/admin_layout.html.twig' %}

{% block admin_body %}
  <div class="container">
    <section class="my-5">
      <div class="row">
        <div class="col-md-4 mt-3">
          <h5>Nom de l'utilisateur</h5>
          <hr class="separator-blue-left">
          <p>{{ user.userName }}</p>
        </div>
        <div class="col-md-4 mt-3">
          <h5>Nom</h5>
          <hr class="separator-blue-left">
          <p>{{ user.firstName|capitalize }} {{ user.lastName|capitalize }}</p>
        </div>
        <div class="col-md-4 mt-3">
          <h5>Adresse mail</h5>
          <hr class="separator-blue-left">
          <p>{{ user.email }}</p>
        </div>
      </div>
    </section>
    <section class="mb-5 my-5">
      <div class="row">
        <div class="col-md-4 mt-3">
          <h5>Rôle</h5>
          <hr class="separator-blue-left">
          <h6 class="{% if user.role == 'admin' %}text-success{% else %}text-primary{% endif %}">
            <i class="fas {% if user.role == 'admin' %}fa-user-shield{% else %}fa-user{% endif %}"></i>
            {{ user.role }}
          </h6>
        </div>
        <div class="col-md-4 mt-3">
          <h5>Date d'inscription</h5>
          <hr class="separator-blue-left">
          <p>{{ user.createdAt|date('d\/m\/Y \\à H:i', 'Europe/Paris') }}</p>
        </div>
        <div class="col-md-4 mt-3">
          <h5>Date de modification</h5>
          <hr class="separator-blue-left">
          <p>{{ user.updatedAt|date('d\/m\/Y \\à H:i', 'Europe/Paris') }}</p>
        </div>
      </div>
    </section>
    {% if user.role == 'admin' %}
      <section class="mb-5 row">
        <div class="col mt-3">
          <h5>Description</h5>
          <hr class="separator-blue-left">
          <p>{{ user.description }}</p>
        </div>
      </section>
      <section class="mb-5 row">
        <div class="col-md-6 mt-3">
          <h5>Fichier téléchargé</h5>
          <hr class="separator-blue-left">
          <a href="/uploads/{{ user.urlCv }}" class="text-primary" target="_blank">{{ user.urlCv }}</a>
        </div>
        <div class="col-md-6 mt-3">
          <h5>Photo de profil</h5>
          <hr class="separator-blue-left">
          <img src="/uploads/{{ user.urlAvatar }}" alt="{{ user.altUrlAvatar }}" height="200">
        </div>
      </section>
    {% endif %}
    <section class="row justify-content-around justify-content-md-end">
      <a href="/admin/users" class="btn btn-edit mr-md-3 mb-4">
        <i class="fas fa-chevron-left"></i>
        Retour</a>
      <a href="/admin/users/edit/{{ user.id }}" class="btn btn-edit mr-md-3 mb-4">
        <i class="fas fa-edit"></i>
        Éditer</a>
      <button type="button"
              class="btn btn-danger mr-md-3 mb-4"
              data-toggle="modal"
              data-target="#deleteModal"
              data-id="{{ user.id }}"
              data-item-info="{{ user.first_name }} {{ user.last_name }}"
      >
        <i class="fas fa-trash-alt"></i>
        Supprimer
      </button>
    </section>
  </div>
  {{ include('admin/_modal.html.twig') }}
{% endblock %}
