{% extends 'admin/admin_layout.html.twig' %}

{% block admin_body %}
  <div class="container">
    <section class="my-5">
      <div class="row">
        <div class="col-md-4">
          <h5>Nom de l'utilisateur</h5>
          <hr class="separator-blue-left">
          <p>{{ user.base_infos.user_name }}</p>
        </div>
        <div class="col-md-4 mt-3">
          <h5>Nom</h5>
          <hr class="separator-blue-left">
          <p>{{ user.base_infos.first_name }} {{ user.base_infos.last_name }}</p>
        </div>
        <div class="col-md-4 mt-3">
          <h5>Adresse mail</h5>
          <hr class="separator-blue-left">
          <p>{{ user.base_infos.email }}</p>
        </div>
      </div>
    </section>
    <section class="mb-5 my-5">
      <div class="row">
        <div class="col-md-4">
          <h5>Rôle</h5>
          <hr class="separator-blue-left">
          <h6 class="{% if user.base_infos.role == 'admin' %}text-success{% else %}text-primary{% endif %}">
            <i class="fas {% if user.base_infos.role == 'admin' %}fa-user-shield{% else %}fa-user{% endif %}"></i>
            {{ user.base_infos.role }}
          </h6>
        </div>
        <div class="col-md-4 mt-3">
          <h5>Date d'inscription</h5>
          <hr class="separator-blue-left">
          <p>{{ user.base_infos.created_at|date('d\/m\/Y \\à H:i', 'Europe/Paris') }}</p>
        </div>
        <div class="col-md-4 mt-3">
          <h5>Date de modification</h5>
          <hr class="separator-blue-left">
          <p>{{ user.base_infos.updated_at|date('d\/m\/Y \\à H:i', 'Europe/Paris') }}</p>
        </div>
      </div>
    </section>
    {% if user.admin_infos is not null %}
      <section class="mb-5 row">
        <div class="col mt-3">
          <h5>Description</h5>
          <hr class="separator-blue-left">
          <p>{{ user.admin_infos.description }}</p>
        </div>
      </section>
      <section class="mb-5 row">
        <div class="col-md-6 mt-3">
          <h5>Fichier téléchargé</h5>
          <hr class="separator-blue-left">
          <a href="{{ user.admin_infos.url_cv }}">{{ user.admin_infos.url_cv }}</a>
        </div>
        <div class="col-md-6 mt-3">
          <h5>Photo de profil</h5>
          <hr class="separator-blue-left">
          <img src="{{ user.admin_infos.url_avatar }}" alt="{{ user.admin_infos.alt_url_avatar }}" height="200"
               width="300">
        </div>
      </section>
    {% endif %}
    <section class="row justify-content-around justify-content-md-end">
      <a href="/admin/users" class="btn btn-edit mr-md-3 mb-4">
        <i class="fas fa-chevron-left"></i>
        Retour</a>
      <a href="/admin/users/edit/{{ user.base_infos.id }}" class="btn btn-edit mr-md-3 mb-4">
        <i class="fas fa-edit"></i>
        Éditer</a>
      <a href="/admin/users/delete/{{ user.base_infos.id }}" class="btn btn-danger mb-4">
        <i class="fas fa-trash-alt"></i>
        Supprimer</a>
    </section>
  </div>
{% endblock %}
