{% extends 'admin/admin_layout.html.twig' %}

{% block admin_body %}
  <div class="container">
    {% if messages is not empty %}
      {% for message in messages %}
        <h2>{{ message }}</h2>
      {% endfor %}
    {% endif %}
    <section class="my-5">
      <form id="form-user-edit" method="post" action="/admin/users/edit/{{ user.base_infos.id }}">
        <div class="form-row mb-4">
          <div class="form-group col-md-4">
            <label for="user_name">Nom d'utilisateur</label>
            <input type="text"
                   class="form-control"
                   id="user_name"
                   name="user_name"
                   value="{{ user.base_infos.user_name }}"
                   placeholder="{{ user.base_infos.user_name }}"
            >
          </div>
          <div class="form-group col-md-4">
            <label for="last_name">Nom</label>
            <input type="text"
                   class="form-control"
                   id="last_name"
                   name="last_name"
                   value="{{ user.base_infos.last_name }}"
                   placeholder="{{ user.base_infos.last_name }}"
            >
          </div>
          <div class="form-group col-md-4">
            <label for="first_name">Prénom</label>
            <input type="text"
                   class="form-control"
                   id="first_name"
                   name="first_name"
                   value="{{ user.base_infos.first_name }}"
                   placeholder="{{ user.base_infos.first_name }}"
            >
          </div>
        </div>
        <div class="form-row mb-5">
          <div class="form-group col-md-4">
            <label for="email">Adresse mail</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   value="{{ user.base_infos.email }}"
                   placeholder="{{ user.base_infos.email }}"
            >
          </div>
        </div>
        <div class="form-group mb-5">
          <label for="role">Rôle</label>
          <div class="form-row">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     id="role_user"
                     name="role"
                     class="custom-control-input"
                     value="user"
                      {% if user.base_infos.role == 'user' %} checked {% endif %}
              >
              <label class="custom-control-label" for="role_user">Utilisateur</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     id="role_admin"
                     name="role"
                     class="custom-control-input"
                     value="admin"
                      {% if user.base_infos.role == 'admin' %} checked {% endif %}
              >
              <label class="custom-control-label" for="role_admin">Admin</label>
            </div>
          </div>
        </div>
        {% if user.admin_infos is not null %}
          <div class="form-row mb-5">
            <div class="form-group col">
              <label for="description">Description</label>
              <textarea class="form-control"
                        id="description"
                        rows="6"
                        placeholder="{{ user.admin_infos.description }}"
              >{{ user.admin_infos.description }}
              </textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="file">
                <label class="custom-file-label" for="file">Téléverser un fichier</label>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="file">
                <label class="custom-file-label" for="file">Téléverser une photo de profil</label>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="row justify-content-around justify-content-md-end my-5">
          <a href="/admin/users" class="btn btn-danger mr-md-3 mb-4">
            <i class="fas fa-times"></i>
            Annuler
          </a>
          <button type="submit" class="btn btn-success mb-4" form="form-user-edit">
            <i class="fas fa-check"></i>
            Valider
          </button>
        </div>
      </form>
    </section>
  </div>
{% endblock %}
