{% extends 'admin/admin_layout.html.twig' %}

{% block admin_body %}
  <div class="container">
    <div class="text-center">
      {{ include('_messages.html.twig') }}
    </div>
    <section class="my-5">
      <form id="form-user-edit"
            method="post"
            action="/admin/users/edit/{{ user.id }}"
            enctype="multipart/form-data"
      >
        <div class="form-row mb-4">
          <div class="form-group col-md-4">
            <label for="user_name">Nom d'utilisateur</label>
            <input type="text"
                   class="form-control"
                   id="user_name"
                   name="user_name"
                   value="{{ user.user_name }}"
                   placeholder="{{ user.user_name }}"
            >
          </div>
          <div class="form-group col-md-4">
            <label for="last_name">Nom</label>
            <input type="text"
                   class="form-control"
                   id="last_name"
                   name="last_name"
                   value="{{ user.last_name }}"
                   placeholder="{{ user.last_name }}"
            >
          </div>
          <div class="form-group col-md-4">
            <label for="first_name">Prénom</label>
            <input type="text"
                   class="form-control"
                   id="first_name"
                   name="first_name"
                   value="{{ user.first_name }}"
                   placeholder="{{ user.first_name }}"
            >
          </div>
        </div>
        <div class="form-row mb-5">
          <div class="form-group col-md-4">
            <label for="email">Adresse mail</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   value="{{ user.email }}"
                   placeholder="{{ user.email }}"
            >
          </div>
        </div>
        <div class="form-group mb-5">
          <label for="role">Rôle</label>
          <div class="form-row">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     id="role_user"
                     name="role"
                     class="custom-control-input"
                     value="user"
                      {% if user.role == 'user' %} checked {% endif %}
              >
              <label class="custom-control-label" for="role_user">Utilisateur</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio"
                     id="role_admin"
                     name="role"
                     class="custom-control-input"
                     value="admin"
                      {% if user.role == 'admin' %} checked {% endif %}
              >
              <label class="custom-control-label" for="role_admin">Admin</label>
            </div>
          </div>
        </div>
        {% if user.role == 'admin' %}
          <div class="form-row mb-5">
            <div class="form-group col">
              <label for="description">Description</label>
              <textarea class="form-control"
                        id="description"
                        name="description"
                        rows="6"
                        placeholder="{{ user.description }}"
              >{{- user.description -}}
              </textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="custom-file mt-md-5">
                <input type="hidden"
                       name="max_file_size"
                       value="16777220"
                >
                <input type="file"
                       class="custom-file-input"
                       id="url_cv"
                       name="url_cv"
                       accept="application/pdf"
                >
                <label class="custom-file-label" for="url_cv">Téléverser un CV</label>
                {% if user.url_cv is not empty %}
                  <p class="mt-4 mt-2">CV actuel : <a href="/uploads/{{ user.url_cv }}" class="text-primary"
                                                      target="_blank">{{ user.url_cv }}</a>
                  </p>
                {% endif %}
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="custom-file mt-md-5">
                <input type="hidden"
                       name="max_file_size"
                       value="16777220"
                >
                <input type="file"
                       class="custom-file-input"
                       id="url_avatar"
                       name="url_avatar"
                       accept="image/*"
                >
                <label class="custom-file-label" for="url_avatar">Téléverser une image de profil</label>
                {% if user.url_avatar is not empty %}
                  <p class="mt-4 mt-2">Image de profil actuelle : <a href="/uploads/{{ user.url_avatar }}"
                                                                     class="text-primary"
                                                                     target="_blank">{{ user.url_avatar }}</a>
                  </p>
                {% endif %}
              </div>
            </div>
            <div class="form-group col-md-6 mt-4 mt-md-0">
              <label for="alt_url_avatar">Texte alternatif pour l'image de profil</label>
              <input type="text"
                     class="form-control"
                     id="alt_url_avatar"
                     name="alt_url_avatar"
                     value="{{ user.alt_url_avatar }}"
                     placeholder="{{ user.alt_url_avatar }}"
              >
              <small id="alt_url_avatar_help_text" class="form-text text-muted">
                Le texte alternatif est utilisé lorsque l'image de profil ne peut pas être chargée.
              </small>
            </div>
          </div>
        {% endif %}
        <div class="row justify-content-around justify-content-md-end my-5">
          <a href="/admin/users" class="btn btn-danger mr-md-3 mb-4">
            <i class="fas fa-times"></i>
            Annuler
          </a>
          <button type="submit" class="btn btn-success mb-4" form="form-user-edit">
            <i class="fas fa-check"></i>
            Valider
          </button>
        </div>
      </form>
    </section>
  </div>
{% endblock %}
