{% extends 'base.html.twig' %}

{% block title %}
  Liste des articles du blog
{% endblock %}

{% block body %}
  <div class="hero-img-post">
    <div class="hero-text text-center">
      <h1>Articles</h1>
      <hr class="separator-white">
    </div>
    <img src="/img/ilya-pavlov-OqtafYT5kTw-unsplash.jpg" alt="Image illustration page articles du blog">
  </div>
  <div class="container">
    <section class="m-60 mb-5 text-center">
      <h2>Toutes les news</h2>
      <hr class="separator-blue">
      <div class="row row-cols-1 row-cols-md-3">
        {% for post in posts.data %}
          <div class="col mb-4">
            <a href="/posts/{{ post.slug }}">
              <article class="card card-hover h-100">
                <img class="card-img-top" src="/uploads/{{ post.cover_img }}"
                     alt="{{ post.alt_cover_img }}">
                <div class="card-body">
                  <h3 class="card-title black mt-1">{{ post.title }}</h3>
                  <p class="card-text black">{{ post.content|slice(0,50) }}...</p>
                </div>
                <div class="card-footer d-flex justify-content-between mt-auto">
                  <small class="text-muted">Par {{ post.first_name }} {{ post.last_name }}</small>
                  <small class="text-muted">Mise à jour
                    : {{ post.updated_at|date('d\/m\/Y', 'Europe/Paris') }}</small>
                </div>
              </article>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
    {{ include('layout/_pagination.html.twig') }}
  </div>
{% endblock %}
